<%- include('Header')-%>
    <div class="main-content container-fluid">
        <div class="page-title">
            <h3>Dashboard</h3>
        </div>
        <%if (message.length> 0) {%>
            <div class="alert alert-dismissible"
                style="background:#fd7c7c;border-style: solid;  border-color:#e64b4b; border-width:1px; color: #fff;">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>Error!</strong>
                <%= message %>
            </div>
            <% } %>
                <%if(error.length> 0) {%>
                    <div class="alert alert-dismissible"
                        style="background:#fd7c7c;border-style: solid;  border-color:#e64b4b; border-width:1px; color: #fff;">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>Error!</strong>
                        <%= error %>
                    </div>
                    <% } %>
                        <section class="section">
                            <!-- <section id="bg-variants container-fluid"> -->
                            <div class="row mb-2">
                                <div class="col-12 col-md-3">
                                    <a href="/admin/Categories">
                                        <div class="card card-statistic">
                                            <div class="card-body p-0" style="height:85px">
                                                <div class="d-flex flex-column">
                                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                                        <h3 class='card-title'>Categories</h3>
                                                        <div class="card-right d-flex align-items-center">
                                                            <p>
                                                                <%= Categoriesdata.length %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3">
                                    <a href="/admin/SubCategories">
                                        <div class="card card-statistic">
                                            <div class="card-body p-0" style="height:85px">
                                                <div class="d-flex flex-column">
                                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                                        <h3 class='card-title'>Sub Categories</h3>
                                                        <div class="card-right d-flex align-items-center">
                                                            <p>
                                                                <%= Subcategoriesdata.length %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3">
                                    <a href="/admin/ChildCategories">
                                        <div class="card card-statistic">
                                            <div class="card-body p-0" style="height:85px">
                                                <div class="d-flex flex-column">
                                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                                        <h3 class='card-title'>Child Categories</h3>
                                                        <div class="card-right d-flex align-items-center">
                                                            <p>
                                                                <%=ChieldCategoriesdata.length %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-12 col-md-3">
                                    <a href="/admin/AllProduct">
                                        <div class="card card-statistic">
                                            <div class="card-body p-0" style="height:85px">
                                                <div class="d-flex flex-column">
                                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                                        <h3 class='card-title'>All Product</h3>
                                                        <div class="card-right d-flex align-items-center">
                                                            <p><%= Itemdata.length  %></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3">
                                    <a href="/admin/AllOrders">
                                        <div class="card card-statistic">
                                            <div class="card-body p-0" style="height:85px">
                                                <div class="d-flex flex-column">
                                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                                        <h3 class='card-title'>All Orders</h3>
                                                        <div class="card-right d-flex align-items-center">
                                                            <p><%= Ordersresults.length %></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3">
                                    <a href="/admin/ContactUs">
                                        <div class="card card-statistic">
                                            <div class="card-body p-0" style="height:85px">
                                                <div class="d-flex flex-column">
                                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                                        <h3 class='card-title'>Contact Us</h3>
                                                        <div class="card-right d-flex align-items-center">
                                                            <p><%= Contactusdata.length  %></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3">
                                    <a href="/admin/WebReviews">
                                        <div class="card card-statistic">
                                            <div class="card-body p-0" style="height:85px">
                                                <div class="d-flex flex-column">
                                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                                        <h3 class='card-title'>Reviews</h3>
                                                        <div class="card-right d-flex align-items-center">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3">
                                    <a href="/admin/Users">
                                        <div class="card card-statistic">
                                            <div class="card-body p-0" style="height:85px">
                                                <div class="d-flex flex-column">
                                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                                        <h3 class='card-title'>Users</h3>
                                                        <div class="card-right d-flex align-items-center">
                                                            <p><%= Userdata.length %></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3">
                                    <a href="/admin/Tax">
                                        <div class="card card-statistic">
                                            <div class="card-body p-0" style="height:85px">
                                                <div class="d-flex flex-column">
                                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                                        <h3 class='card-title'>Tax</h3>
                                                        <div class="card-right d-flex align-items-center">
                                                            <P><%= Taxdata.length %></P>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3">
                                    <a href="/admin/PaymentService">
                                        <div class="card card-statistic">
                                            <div class="card-body p-0" style="height:85px">
                                                <div class="d-flex flex-column">
                                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                                        <h3 class='card-title'>Payment</h3>
                                                        <div class="card-right d-flex align-items-center">
                                                            <p><%= Paymentdatas.length %></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3">
                                    <a href="/admin/newsletter">
                                        <div class="card card-statistic">
                                            <div class="card-body p-0" style="height:85px">
                                                <div class="d-flex flex-column">
                                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                                        <h3 class='card-title'>News letter</h3>
                                                        <div class="card-right d-flex align-items-center">
                                                            <p><%= NewsLatterdatas.length %></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 col-md-3">
                                    <a href="/admin/SocialMedia">
                                        <div class="card card-statistic">
                                            <div class="card-body p-0" style="height:85px">
                                                <div class="d-flex flex-column">
                                                    <div class='px-3 py-3 d-flex justify-content-between'>
                                                        <h3 class='card-title'>Social Media</h3>
                                                        <div class="card-right d-flex align-items-center">
                                                            <p><%= Socialsdata.length %></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                              
                            </div>
                           
                        </section>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#order-table').DataTable({
                //  dom: '<"dt-top-container"<l><"dt-center-in-div"B><f>r>t<"dt-filter-spacer"f><ip>',
                //  buttons: ['copy', 'pdf', 'csv', 'print', 'colvis']
            });
        });
    </script>
    <%- include('Footer')-%>