<%- include('../Header.ejs');-%>

    <div class="main-content container-fluid">
        <div class="page-title mb-3">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Edit Banner </h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <div class="d-flex justify-content-end">
                        <a href="/admin/MiddleBanner" class="btn btn-secondary">Back</a>
                    </div>
                </div>
            </div>
        </div>
        <section id="basic-vertical-layouts">
            <div class="row match-height">
                <div class="col-md-12 col-sm-12 mx-auto">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form form-vertical" action="/admin/EditMiddleBannerActions/<%= data._id%>"
                                    method="POST" enctype="multipart/form-data">
                                    <%if (message.length> 0) {%>
                                        <div class="alert alert-dismissible"
                                            style="background:#5bc093;border-style: solid;  border-color:#55a682; border-width:1px; color: #fff;">
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                            <strong>Message!</strong>
                                            <%= message %>
                                        </div>
                                        <% } %>
                                            <%if(error.length> 0) {%>
                                                <div class="alert alert-dismissible"
                                                    style="background:#fd7c7c;border-style: solid;  border-color:#e64b4b; border-width:1px; color: #fff;">
                                                    <button type="button" class="btn-close"
                                                        data-bs-dismiss="alert"></button>
                                                    <strong>Error!</strong>
                                                    <%= error %>
                                                </div>
                                                <% } %>
                                                    <div class="form-body">
                                                        <div class="row flex-column align-content-around">
                                                            <div class="col-12 mx-auto">
                                                                <fieldset class="form-group">
                                                                    <label for="basicSelect">Select Category</label>
                                                                    <select name="category_id" id="category_id"
                                                                        class="form-select">
                                                                        <option value="">Select One</option>
                                                                        <% CategoryList.forEach(function(row){ %>
                                                                            <option value="<%=row.id%>">
                                                                                <%=row.name%>
                                                                            </option>
                                                                            <%})%>
                                                                    </select>
                                                                </fieldset>
                                                            </div>
                                                            <div class="col-12 mx-auto">
                                                                <fieldset class="form-group">
                                                                    <label for="basicSelect">Select Sub Category</label>
                                                                    <select class="form-select" id="subcategory_id"
                                                                        name="subcategory_id">
                                                                        <option value="">Select One</option>
                                                                    </select>
                                                                </fieldset>
                                                            </div>
                                                            <div class="col-12 mx-auto">
                                                                <div class="form-group">
                                                                    <label for="first-name-vertical">Image</label>
                                                                    <input type="file" id="first-name-vertical"
                                                                        class="form-control" name="image"
                                                                        value="<%= data.image %>">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mx-auto">
                                                                <div class="form-group">
                                                                    <label for="first-name-vertical">Title</label>
                                                                    <input type="text" id="first-name-vertical"
                                                                        class="form-control" name="title"
                                                                        value="<%= data.title %>">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mx-auto">
                                                                <div class="form-group">
                                                                    <label
                                                                        for="contact-info-vertical">Description</label>
                                                                    <input type="text" id="contact-info-vertical"
                                                                        class="form-control" name="description"
                                                                        value="<%= data.description %>">
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="col-12 mx-auto d-flex justify-content-center mt-3">
                                                                <button type="submit"
                                                                    class="btn btn-primary me-1 mb-1">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        $(document).ready(function () {
            $('#category_id').on('change', function () {
                var id = this.value;
                $("#subcategory_id").html('');
                $.ajax({
                    url: "/admin/GetSubCatList",
                    type: "POST",
                    data: {
                        id: id,
                        _token: '{{csrf_token()}}'
                    },
                    dataType: 'json',
                    success: function (result) {
                        $('#subcategory_id').html('<option value="">Select Name</option>');
                        $.each(result, function (key, value) {
                            $("#subcategory_id").append('<option  value="' +
                                value._id + '">' + value.name +
                                '</option>');
                        });
                    }
                });
            });
        });
    </script>
    <%- include('../Footer')-%>